#root {
  max-width: 1400px;
  margin: 0 ;
}

*{
  box-sizing: border-box;
}

.header{
  display: flex;
  align-items: center;
  gap: 2px;
  height: 85px;
  background-color: #672280;
  color: #ffff;
  padding: 15px 20px;
  min-width: 300px;
}

.header-logo{
  height: 100%;
}

.header-title{
  font-size: 1.25rem;
  font-weight: bold;
}

main{
  padding: 10px;
}

.form{
  display: grid;
  grid-template-rows: 25px 25px;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.form-input{
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D1D5DB;
  text-indent: 5px;
  min-width: 130px;
}

.form-button{
  grid-column: 1/-1;
  border-radius: 5px;
  background-color: #672280;
  color: #ffff;
  border: none;
  cursor: pointer;
}

.meme-image{
  max-width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.meme{
  position: relative;
}

.meme--text{
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size:32px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.top{
  top: 0;
}

.bottom{
  bottom: 0;
}






